@import "tailwindcss";

/* Light Mode Overrides */
body.light-theme {
  filter: invert(1) hue-rotate(180deg);
  background-color: #f5f5f5; /* Inverted equivalent of #0a0a0c */
}

/* Re-invert media, images, icons and syntax highlighting where necessary */
body.light-theme img,
body.light-theme video,
body.light-theme iframe,
body.light-theme .lucide {
  filter: invert(1) hue-rotate(180deg);
}

body.light-theme .lucide.moon {
  filter: none;
}

select option {
  background-color: #1e1e24;
  color: #ffffff;
}
